.navigation {
  display: flex;
  margin: 0 auto;

  max-width: 80%;
}

.navigation li {
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  font-size: 2em;
  cursor: pointer;
}

.pic {
  object-fit: cover;
  z-index: -1;

  width: 100vw;
  height: 100vh;
}

.gradient-overlay {
  position: relative;
  bottom: 0px;
  bottom: 32vh;
  background: linear-gradient(0deg, #1a1a1a88 42%, #1a1a1a00 100%);
  height: 32vh;
}

main > .container {
  position: absolute;
  top: 46vh;
  left: 11vw;
  right: 11vw;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 80%;
  padding: 0px;
  height: min-content;

  color: white;
}

.container header > h1 {
  font-size: 14em;
  font-weight: bold;

  margin: 0;
  line-height: 0.78em;
}

.container header > h3 {
  font-size: 2.2em;
  font-weight: bold;

  margin: 0;
}

.container .indicator {
  font-size: 2em;
  font-weight: bold;

  margin: 0;
}

.container p {
  font-size: 1.12em;
  line-height: 1.2em;
  text-align: justify;
  position: absolute;
  top: 0vh;
  right: -11vw;
  max-width: 64%;
  height: fit-content;
  background-color: #1a1a1abb;
  padding: 20px 12vw 20px 20px;
}

main > #my-profile {
  position: absolute;
  bottom: 10vh;
  right: 6vw;
  animation-name: animBott;
  animation-duration: 0.6s;
}

@keyframes animBott {
  from {
    bottom: 14vh;
    opacity: 0.2;
  }
  to {
    bottom: 10vh;
    opacity: 1;
  }
}

footer p,
footer button {
  font-size: 0.8em;
}

footer button:hover {
  cursor: pointer;
}
