@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

@font-face {
  font-family: "Titillium Web", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: #1a1a1aff;
  margin: 0;

  font-family: "Titillium Web";
}

/* navigasi */
body > header {
  position: fixed;
  top: 0px;

  padding: 18px;
  background: linear-gradient(180deg, #1a1a1a44 40%, #1a1a1a00 100%);
  width: 100%;
}

.navigation {
  display: flex;
  margin: 0 auto;

  max-width: 90%;
}

.navigation li {
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  display: inline;
  flex-grow: 1;

  margin: 16px;
  padding: 24px 8px;

  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

/* gambar */
.pic {
  object-fit: cover;
  z-index: -1;

  width: 100vw;
  height: 50vh;
}

.gradient-overlay {
  position: relative;
  bottom: 20vh;

  background: linear-gradient(0deg, #1a1a1aff 74%, #1a1a1a00 100%);
  height: 70vh;
}

/* konten */
main > .container {
  position: absolute;
  top: 38vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 16px 32px;
  margin: 0 auto;

  color: white;
}

.container header > h1 {
  font-size: 5.2em;
  font-weight: bold;

  margin: 0;
  line-height: 0.78em;
}

.container header > h3 {
  font-size: 1.6em;
  font-weight: bold;

  margin: 0;
}

.container .indicator {
  font-size: 1em;
  font-weight: bold;

  margin: 0;
}

.container p {
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: justify;
}

/* aside */
main > #my-profile {
  position: absolute;
  bottom: 6vh;
  right: 3vh;

  animation-name: animBott;
  animation-duration: 0.6s;
}

@keyframes animBott {
  from {
    bottom: 10vh;
    opacity: 0.2;
  }
  to {
    bottom: 6vh;
    opacity: 1;
  }
}

div.my-pic-container {
  display: flex;
  flex-direction: column;

  max-width: 210px;
  max-height: 210px;

  border-radius: 8px;
}

.my-pic {
  object-fit: cover;
  filter: grayscale(100%) contrast(78%);

  height: 100%;
  border-radius: inherit;
}

.my-pic-container > p {
  position: absolute;
  bottom: 0;

  margin: 0 auto;
  padding: 8px;
  width: 100%;
  background: linear-gradient(0deg, #1a1a1a44 60%, #1a1a1a00 100%);

  color: white;
  font-size: 1.2em;
  text-align: center;
  border-radius: inherit;
}

/* footer */
footer {
  position: absolute;
  bottom: 1vh;

  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 32px;
}

footer p,
footer button {
  font-size: 0.6em;
  color: white;

  background-color: #1a1a1a00;
  border-style: none;
}
